*.wasm
*.lock
*.dylib
*.dll
*.pc
*.exp
*.lib
*.so
*.so.*
*.a
*.o
*.obj
*.tmp
*.tar.gz
*.tgz
*.zip
*.egg-info
*.whl

.DS_Store
.zed
.envrc

package-lock.json
Package.resolved

grammars/
target/
node_modules/
build/
prebuilds/
target/
dist/
zig-cache/
zig-out/
_obj/

.build/
.venv/
.zig-cache/
